@import "tailwindcss";

@layer base {
    :root {
        --color-windsurf-start: #005CE2;
        --color-windsurf-end: #0034A4;
        --gradient-windsurf: linear-gradient(180deg, var(--color-windsurf-start) 0%, var(--color-windsurf-end) 100%);

        --color-dark-start: #0A1530;
        --color-dark-end: #090D17;
        --gradient-dark: linear-gradient(180deg, var(--color-dark-start) 0%, var(--color-dark-end) 100%);
    }
}

@layer components {
    .container {
        max-width: 1230px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .wrapper {
        min-height: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .bg-windsurf-gradient {
        background: var(--gradient-windsurf);
    }

    .bg-dark-gradient {
        background: var(--gradient-dark);
    }

    .transitioned {
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    }
}